menu "User MQTT Configuration"

config USER_MQTT_BROKER_URI
    string "MQTT Broker URI"
    default "mqtt://broker.hivemq.com"
    help
        The URI of the MQTT broker to connect to (e.g., mqtt://broker.hivemq.com).

endmenu
