
menu "MQTT Client Configuration"

config MQTT_BROKER_URI
    string "MQTT Broker URI"
    default "mqtt://broker.hivemq.com"
    help
        MQTT URI used to connect to the broker.

config MQTT_PUB_TOPIC
    string "MQTT Publish Topic"
    default "esp32/device/data"
    help
        Topic to publish device data to.

endmenu
